.h1{
    border: 2px solid rgb(192, 191, 191);
    color: rgb(91, 201, 201);
    padding: 4px;
    text-align: center;
    width: 20%;
    display: inline-block;
}
.p1{
    color: rgb(226, 135, 16);
    border: 2px solid red;
    padding: 4px 2px 2px 2px;
    display: inline-block;
    width: 20%;
}
.p2{
    color: rgb(51, 136, 108);
    border: 3px solid black;
    border-radius: 2px;
    display: inline-block;
    width: 20%;
}
#tit{
    color: rgb(0, 0, 0);
    border: 1px solid rgb(226, 220, 220);
    text-align: center;
    padding-left: 30px;
    margin-left: 480px;
    margin-right: 480px;
}