input:focus{
    color: black;
    font-size: medium;
}
.in{
    background-color: aliceblue;
    width: 35%;
    text-align: center;
    margin: auto;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Courier New', Courier, monospace;
}
#input{
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    margin: 2px;
}
#em{
    padding: 5px;
    margin: 2px
}
#pwd{
    padding: 5px;
    margin: 2px
}
.btn{
    margin-top: 5px;
    color: black;
    background-color: aqua;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 4px 4px 5px 7px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-decoration: none;
}
.btn:hover{
    cursor: pointer;
}
.btn:active{
    color: red;
}
.btn:visited{
    color: black;
}

